<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/log_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/log_info.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="info">
        <appender-ref ref="FILE_INFO"/>
    </logger>
</configuration>
